.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.Calculatator {
  background-color: black;
  border-radius: 25px;
  padding: 20px 10px 20px 10px;
}
